<div class="container large text-center">
  <h3 class="text-right logo">¤ SCOOTER SLEUTH ¤</h3>

  <h2>Editing User</h2>

  <%= render 'form', user: @user %>

  <div class="card-footer footer">
    | <%= link_to 'Back', user_path(@user) %> |
    <%= link_to 'Home', users_path %> |
  </div>
</div>
