<div class="container large">
  <div class="text-center">
    <h1 class="logo">造 Scooter Sleuth 造</h1>
    <h4>Welcome to <span class="logo_text">造 Scooter Sleuth 造</span>!</h4>
    <h4>Please select a user or create a new one:</h4>
  </div>

  <div class="row users_list">
    <div>
      <% @users.each do |user| %>
      <div class="user_list_element"><%= link_to user.full_name, user_path(user.id) %></div>
      <% end %>
    </div>
  </div>

  <div class="bottom_button">
    <p class="col-lg-9"></p>
    <a href="users/new" class="col-xs-6" id="new_user"><button class='btn btn-primary btn-lg'>Create New User</button></a>
  </div>
</div>
