<div class="container large text-center">
  <h2 class="text-right logo">¤ SCOOTER SLEUTH ¤</h2>

  <h2 id="new_user_header">Create New User</h2>

  <div id="new_user_form"><%= render 'form', user: @user %></div>

  <a href="users" id="users_button"><button>Back</button></a>
</div>
