<div class="container large text-center">
  <h3 class="text-right logo">¤ SCOOTER SLEUTH ¤</h3>

  <h2 id="new_user_header">Create New User</h2>

  <div id="new_user_form"><%= render 'form', user: @user %></div>

  <div class="card-footer header">
    | <%= link_to 'Home', users_path %> |
  </div>
</div>
